# build & install folders
/lib
/x86
/linux
/resources/misc
/src/Misc
readme.txt
misc
build*/
_build*/
install*/
tmp/
bin/
lib/
.vscode*/
.cache*/
*.user
Makefile
*.stash
md5sums
build_tmp
*.deb
packages/
